---
layout: default-gallery
menu: complex
title: Проведение урока
---

      <!-- Gallery #04 -->
      <section>
        <div class="text-center g-mb-50">
          <h2 class="h4">Презентация
            <span class="g-color-primary g-ml-5">#04</span>
          </h2>
        </div>

        <div id="shortcode4">
          <div class="shortcode-html">
            <div class="js-carousel text-center" data-infinite="true" data-center-mode="true" data-center-padding="60px" data-slides-show="4" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-35 g-height-40 g-font-size-18 g-color-gray g-bg-white" data-arrow-left-classes="fa fa-angle-left g-left-0"
            data-arrow-right-classes="fa fa-angle-right g-right-0" data-responsive='[{
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 2,
                     "slidesToScroll": 2,
                     "centerPadding": 0
                   }
                 }]'>
              <div class="js-slide g-px-10">
                <a class="js-fancybox d-block u-block-hover g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--04" data-src="{{ site.url }}/assets/img/physic7/1.png" data-speed="350" data-caption="Lightbox Gallery">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="{{ site.url }}/assets/img/physic7/1.png" alt="Image Description">
                  <span class="u-icon-v3 u-icon-size--xs g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-10 g-right-10">
                    <i class="hs-icon hs-icon-magnifier"></i>
                  </span>
                </a>
              </div>

              <div class="js-slide g-px-10">
                <a class="js-fancybox d-block u-block-hover g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--04" data-src="{{ site.url }}/assets/img/physic7/2.png" data-speed="350" data-caption="Lightbox Gallery">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="{{ site.url }}/assets/img/physic7/2.png" alt="Image Description">
                  <span class="u-icon-v3 u-icon-size--xs g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-10 g-right-10">
                    <i class="hs-icon hs-icon-magnifier"></i>
                  </span>
                </a>
              </div>

              <div class="js-slide g-px-10">
                <a class="js-fancybox d-block u-block-hover g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--04" data-src="{{ site.url }}/assets/img/physic7/3.png" data-speed="350" data-caption="Lightbox Gallery">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="{{ site.url }}/assets/img/physic7/3.png" alt="Image Description">
                  <span class="u-icon-v3 u-icon-size--xs g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-10 g-right-10">
                    <i class="hs-icon hs-icon-magnifier"></i>
                  </span>
                </a>
              </div>

              <div class="js-slide g-px-10">
                <a class="js-fancybox d-block u-block-hover g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--04" data-src="{{ site.url }}/assets/img/physic7/1.png" data-speed="350" data-caption="Lightbox Gallery">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="{{ site.url }}/assets/img/physic7/1.png" alt="Image Description">
                  <span class="u-icon-v3 u-icon-size--xs g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-10 g-right-10">
                    <i class="hs-icon hs-icon-magnifier"></i>
                  </span>
                </a>
              </div>

              <div class="js-slide g-px-10">
                <a class="js-fancybox d-block u-block-hover g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--04" data-src="{{ site.url }}/assets/img/physic7/2.png" data-speed="350" data-caption="Lightbox Gallery">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="{{ site.url }}/assets/img/physic7/2.png" alt="Image Description">
                  <span class="u-icon-v3 u-icon-size--xs g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-10 g-right-10">
                    <i class="hs-icon hs-icon-magnifier"></i>
                  </span>
                </a>
              </div>

              <div class="js-slide g-px-10">
                <a class="js-fancybox d-block u-block-hover g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--04" data-src="{{ site.url }}/assets/img/physic7/3.png" data-speed="350" data-caption="Lightbox Gallery">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="{{ site.url }}/assets/img/physic7/3.png" alt="Image Description">
                  <span class="u-icon-v3 u-icon-size--xs g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-10 g-right-10">
                    <i class="hs-icon hs-icon-magnifier"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="shortcode-styles">
            <!-- CSS Implementing Plugins -->
            <link type="text/plain" rel="stylesheet" href="{{ site.url }}/assets/vendor/icon-hs/style.css">
            <link type="text/plain" rel="stylesheet" href="{{ site.url }}/assets/vendor/fancybox/jquery.fancybox.min.css">
            <link type="text/plain" rel="stylesheet" href="{{ site.url }}/assets/vendor/slick-carousel/slick/slick.css">
          </div>

          <div class="shortcode-scripts">
            <!-- JS Implementing Plugins -->
            <script type="text/plain" src="{{ site.url }}/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
            <script type="text/plain" src="{{ site.url }}/assets/vendor/slick-carousel/slick/slick.js"></script>

            <!-- JS Unify -->
            <script type="text/plain" src="{{ site.url }}/assets/js1/components/hs.popup.js"></script>
            <script type="text/plain" src="{{ site.url }}/assets/js1/components/hs.carousel.js"></script>

            <!-- JS Plugins Init. -->
            <script type="text/plain">
              $(document).on('ready', function () {
                // initialization of popups
                $.HSCore.components.HSPopup.init('.js-fancybox');

                // initialization of carousel
                $.HSCore.components.HSCarousel.init('.js-carousel');
              });
            </script>
          </div>
        </div>


      </section>
      <!-- End Gallery #04 -->

      <hr class="g-brd-gray-light-v4 g-my-60">

      <!-- Gallery #05 -->
      <section class="container">
        <div class="text-center g-mb-50">
          <h2 class="h4">Презентация
            <span class="g-color-primary g-ml-5">#05</span>
          </h2>
        </div>

        <div id="shortcode5">
          <div class="shortcode-html">
            <div class="row">
              <div class="col-md-6 align-self-center">
                <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after g-mb-30 g-mb-0--md" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="{{ site.url }}/assets/img/physic7/1.png" data-speed="350" data-caption="Lightbox Gallery">
                  <img class="img-fluid" src="{{ site.url }}/assets/img/physic7/1.png" alt="Image Description">

                  <span class="u-bg-overlay__inner g-font-size-18 g-color-white g-pos-abs g-left-20 g-bottom-20">
                    Все о физике
                  </span>
                </a>
              </div>
              <div class="col-md-3">
                <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after g-mb-30" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="{{ site.url }}/assets/img/physic7/1.png" data-speed="350" data-caption="Lightbox Gallery">
                  <img class="img-fluid" src="{{ site.url }}/assets/img/physic7/1.png" alt="Image Description">

                  <span class="u-bg-overlay__inner g-color-white g-pos-abs g-left-20 g-bottom-20">
                    Все о вселенной
                  </span>
                </a>

                <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after g-mb-30 g-mb-0--md" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="{{ site.url }}/assets/img/physic7/2.png" data-speed="350" data-caption="Lightbox Gallery">
                  <img class="img-fluid" src="{{ site.url }}/assets/img/physic7/2.png" alt="Image Description">

                  <span class="u-bg-overlay__inner g-color-white g-pos-abs g-left-20 g-bottom-20">
                    Термодинамика
                  </span>
                </a>
              </div>
              <div class="col-md-3">
                <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after g-mb-30" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="{{ site.url }}/assets/img/physic7/3.png" data-speed="350" data-caption="Lightbox Gallery">
                  <img class="img-fluid" src="{{ site.url }}/assets/img/physic7/3.png" alt="Image Description">

                  <span class="u-bg-overlay__inner g-color-white g-pos-abs g-left-20 g-bottom-20">
                    Квантовая физика
                  </span>
                </a>

                <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after g-mb-30 g-mb-0--md" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="{{ site.url }}/assets/img/physic7/1.png" data-speed="350" data-caption="Lightbox Gallery">
                  <img class="img-fluid" src="{{ site.url }}/assets/img/physic7/1.png" alt="Image Description">

                  <span class="u-bg-overlay__inner g-absolute-centered g-color-white">
                    <span class="g-font-size-46">10+</span>
                  <br>view photos
                  </span>
                </a>

                <img class="js-fancybox g-hidden-xs-up" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="{{ site.url }}/assets/img/physic7/1.png" data-speed="350" data-caption="Lightbox Gallery">
                <img class="js-fancybox g-hidden-xs-up" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="{{ site.url }}/assets/img/physic7/2.png" data-speed="350" data-caption="Lightbox Gallery">
                <img class="js-fancybox g-hidden-xs-up" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="{{ site.url }}/assets/img/physic7/3.png" data-speed="350" data-caption="Lightbox Gallery">
              </div>
            </div>
          </div>

          <div class="shortcode-styles">
            <!-- CSS Implementing Plugins -->
            <link type="text/plain" rel="stylesheet" href="{{ site.url }}/assets/vendor/icon-hs/style.css">
            <link type="text/plain" rel="stylesheet" href="{{ site.url }}/assets/vendor/fancybox/jquery.fancybox.min.css">
          </div>

          <div class="shortcode-scripts">
            <!-- JS Implementing Plugins -->
            <script type="text/plain" src="{{ site.url }}/assets/vendor/fancybox/jquery.fancybox.min.js"></script>

            <!-- JS Unify -->
            <script type="text/plain" src="{{ site.url }}/assets/js1/components/hs.popup.js"></script>

            <!-- JS Plugins Init. -->
            <script type="text/plain">
              $(document).on('ready', function () {
                // initialization of popups
                $.HSCore.components.HSPopup.init('.js-fancybox');
              });
            </script>
          </div>
        </div>


      </section>
      <!-- End Gallery #05 -->



      <!-- Gallery #08 -->
      <section class="container">
        <div class="text-center g-mb-50">
          <h2 class="h4">Презентация
            <span class="g-color-primary g-ml-5">#08</span>
          </h2>
        </div>

        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <div id="shortcode8">
              <div class="shortcode-html">
                <div id="carousel-08-1" class="js-carousel text-center g-mb-20" data-infinite="true" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-35 g-height-40 g-font-size-18 g-color-gray g-bg-white g-mt-minus-10" data-arrow-left-classes="fa fa-angle-left g-left-0"
                data-arrow-right-classes="fa fa-angle-right g-right-0" data-nav-for="#carousel-08-2">
                  <div class="js-slide">
                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="{{ site.url }}/assets/img/physic7/1.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000"
                    data-overlay-blur-bg="true">
                      <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/1.png" alt="Image Description">
                    </a>
                  </div>

                  <div class="js-slide">
                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="{{ site.url }}/assets/img/physic7/2.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000"
                    data-overlay-blur-bg="true">
                      <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/2.png" alt="Image Description">
                    </a>
                  </div>

                  <div class="js-slide">
                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="{{ site.url }}/assets/img/physic7/3.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000"
                    data-overlay-blur-bg="true">
                      <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/3.png" alt="Image Description">
                    </a>
                  </div>

                  <div class="js-slide">
                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="{{ site.url }}/assets/img/physic7/1.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000"
                    data-overlay-blur-bg="true">
                      <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/1.png" alt="Image Description">
                    </a>
                  </div>

                  <div class="js-slide">
                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="{{ site.url }}/assets/img/physic7/2.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000"
                    data-overlay-blur-bg="true">
                      <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/2.png" alt="Image Description">
                    </a>
                  </div>

                  <div class="js-slide">
                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="{{ site.url }}/assets/img/physic7/3.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000"
                    data-overlay-blur-bg="true">
                      <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/3.png" alt="Image Description">
                    </a>
                  </div>
                </div>

                <div id="carousel-08-2" class="js-carousel text-center g-mx-minus-10 u-carousel-v3" data-infinite="true" data-center-mode="true" data-slides-show="4" data-is-thumbs="true" data-nav-for="#carousel-08-1">
                  <div class="js-slide g-px-10">
                    <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/1.png" alt="Image Description">
                  </div>

                  <div class="js-slide g-px-10">
                    <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/2.png" alt="Image Description">
                  </div>

                  <div class="js-slide g-px-10">
                    <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/3.png" alt="Image Description">
                  </div>

                  <div class="js-slide g-px-10">
                    <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/1.png" alt="Image Description">
                  </div>

                  <div class="js-slide g-px-10">
                    <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/2.png" alt="Image Description">
                  </div>

                  <div class="js-slide g-px-10">
                    <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/3.png" alt="Image Description">
                  </div>
                </div>
              </div>

              <div class="shortcode-styles">
                <!-- CSS Implementing Plugins -->
                <link type="text/plain" rel="stylesheet" href="{{ site.url }}/assets/vendor/icon-hs/style.css">
                <link type="text/plain" rel="stylesheet" href="{{ site.url }}/assets/vendor/fancybox/jquery.fancybox.min.css">
                <link type="text/plain" rel="stylesheet" href="{{ site.url }}/assets/vendor/slick-carousel/slick/slick.css">
              </div>

              <div class="shortcode-scripts">
                <!-- JS Implementing Plugins -->
                <script type="text/plain" src="{{ site.url }}/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
                <script type="text/plain" src="{{ site.url }}/assets/vendor/slick-carousel/slick/slick.js"></script>

                <!-- JS Unify -->
                <script type="text/plain" src="{{ site.url }}/assets/js1/components/hs.popup.js"></script>
                <script type="text/plain" src="{{ site.url }}/assets/js1/components/hs.carousel.js"></script>

                <!-- JS Plugins Init. -->
                <script type="text/plain">
                  $(document).on('ready', function () {
                    // initialization of popups
                    $.HSCore.components.HSPopup.init('.js-fancybox');

                    // initialization of carousel
                    $.HSCore.components.HSCarousel.init('.js-carousel');
                  });
                </script>
              </div>
            </div>


          </div>
        </div>
      </section>
      <!-- End Gallery #08 -->

      <hr class="g-brd-gray-light-v4 g-my-60">

      <!-- Gallery #09 -->
      <section class="container">
        <div class="text-center g-mb-50">
          <h2 class="h4">Gallery
            <span class="g-color-primary g-ml-5">#09</span>
          </h2>
        </div>

        <div class="row">
          <div class="col-md-8 ml-md-auto mr-md-auto">
            <div id="shortcode9">
              <div class="shortcode-html">
                <div class="row">
                  <div class="col-md-10">
                    <div id="carousel-09-1" class="js-carousel text-center g-font-size-0 g-mb-20 g-mb-0--sm" data-infinite="true" data-vertical="true" data-arrows-classes="u-arrow-v1 g-absolute-centered--x g-width-35 g-height-35 g-font-size-18 g-color-gray g-bg-white" data-arrow-left-classes="fa fa-angle-up g-top-0"
                    data-arrow-right-classes="fa fa-angle-down g-bottom-0" data-nav-for="#carousel-09-2">
                      <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--09-1" data-src="{{ site.url }}/assets/img/physic7/3.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000"
                        data-overlay-blur-bg="true">
                          <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/3.png" alt="Image Description">
                        </a>
                      </div>

                      <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--09-1" data-src="{{ site.url }}/assets/img/physic7/1.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000"
                        data-overlay-blur-bg="true">
                          <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/1.png" alt="Image Description">
                        </a>
                      </div>

                      <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--09-1" data-src="{{ site.url }}/assets/img/physic7/2.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000"
                        data-overlay-blur-bg="true">
                          <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/2.png" alt="Image Description">
                        </a>
                      </div>

                      <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--09-1" data-src="{{ site.url }}/assets/img/physic7/3.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000"
                        data-overlay-blur-bg="true">
                          <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/3.png" alt="Image Description">
                        </a>
                      </div>

                      <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--09-1" data-src="{{ site.url }}/assets/img/physic7/1.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000"
                        data-overlay-blur-bg="true">
                          <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/1.png" alt="Image Description">
                        </a>
                      </div>

                      <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--09-1" data-src="{{ site.url }}/assets/img/physic7/2.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000"
                        data-overlay-blur-bg="true">
                          <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/2.png" alt="Image Description">
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div id="carousel-09-2" class="js-carousel text-center u-carousel-v3 g-mx-minus-10 g-mx-minus-0--sm g-my-minus-5--sm" data-infinite="true" data-center-mode="true" data-vertical="true" data-slides-show="4" data-is-thumbs="true" data-nav-for="#carousel-09-1">
                      <div class="js-slide g-px-10 g-px-0--sm g-py-5--sm">
                        <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/3.png" alt="Image Description">
                      </div>

                      <div class="js-slide g-px-10 g-px-0--sm g-py-5--sm">
                        <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/1.png" alt="Image Description">
                      </div>

                      <div class="js-slide g-px-10 g-px-0--sm g-py-5--sm">
                        <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/2.png" alt="Image Description">
                      </div>

                      <div class="js-slide g-px-10 g-px-0--sm g-py-5--sm">
                        <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/3.png" alt="Image Description">
                      </div>

                      <div class="js-slide g-px-10 g-px-0--sm g-py-5--sm">
                        <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/1.png" alt="Image Description">
                      </div>

                      <div class="js-slide g-px-10 g-px-0--sm g-py-5--sm">
                        <img class="img-fluid w-100" src="{{ site.url }}/assets/img/physic7/2.png" alt="Image Description">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="shortcode-styles">
                <!-- CSS Implementing Plugins -->
                <link type="text/plain" rel="stylesheet" href="{{ site.url }}/assets/vendor/icon-hs/style.css">
                <link type="text/plain" rel="stylesheet" href="{{ site.url }}/assets/vendor/fancybox/jquery.fancybox.min.css">
                <link type="text/plain" rel="stylesheet" href="{{ site.url }}/assets/vendor/slick-carousel/slick/slick.css">
              </div>

              <div class="shortcode-scripts">
                <!-- JS Implementing Plugins -->
                <script type="text/plain" src="{{ site.url }}/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
                <script type="text/plain" src="{{ site.url }}/assets/vendor/slick-carousel/slick/slick.js"></script>

                <!-- JS Unify -->
                <script type="text/plain" src="{{ site.url }}/assets/js1/components/hs.popup.js"></script>
                <script type="text/plain" src="{{ site.url }}/assets/js1/components/hs.carousel.js"></script>

                <!-- JS Plugins Init. -->
                <script type="text/plain">
                  $(document).on('ready', function () {
                    // initialization of popups
                    $.HSCore.components.HSPopup.init('.js-fancybox');

                    // initialization of carousel
                    $.HSCore.components.HSCarousel.init('.js-carousel');
                  });
                </script>
              </div>
            </div>


          </div>
        </div>
      </section>
      <!-- End Gallery #09 -->



  <div id="modalMarkup" class="text-left modal-demo g-width-95x g-height-95x g-bg-white g-color-black g-pa-20" style="display: none;"></div>


